VITE_PROJECT_ACCESS_KEY=AQAAAAAAAKCDGe7myJuNbEvgPCLWQ17mfxc
VITE_PROJECT_ID=41091
VITE_WAAS_CONFIG_KEY="eyJwcm9qZWN0SWQiOjQxMDkxLCJycGNTZXJ2ZXIiOiJodHRwczovL3dhYXMuc2VxdWVuY2UuYXBwIn0="
VITE_AUDIENCE_ID=62
VITE_CHAIN_ID=421614
VITE_GOOGLE_CLIENT_ID=970987756660-35a6tc48hvi8cev9cnknp0iugv9poa23.apps.googleusercontent.com
VITE_APPLE_CLIENT_ID=com.horizon.sequence.allowlist-embedded-wallet-boilerplate
VITE_WALLET_CONNECT_ID='c65a6cb1aa83c4e24500130f23a437d8'
VITE_WALLET_TYPE='waas' # 'waas' or 'universal'